<html>
    <head>
        <title>Content 2</title>
    </head>
    
    <body>
        <h1>Daftar Nama Mahasiswa</h1>
        <table border="1">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Nama</td>
                    <td>NIM</td>
                    <td>Prodi</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Fatier</td>
                    <td>00000000</td>
                    <td>TI</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ucup</td>
                    <td>00000000</td>
                    <td>SI</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>